{% extends "rotateread/rotateread_base.html" %}
{% block body %}

<div id="indexin-container">
    <div id="side-panel">
        <div id="side-panel-top">
            <a href="/signout">Logout</a>
            <button id="shuffle-button">Shuffle</button>
            <button id="reset-button">Reset</button>
        </div>
        <div id="resource-list">
            {% for learn_item in learn_items %}
                <div draggable="true" class="draggable-item duplicable-div ellipsis-line" title="{{ learn_item }}">{{ learn_item }}</div>
            {% endfor %}
        </div>
    </div>
    <div id="learn-container"></div>
</div>

<div id="context-menu" class="context-menu">
    <ul>
        <li id="duplicate">Duplicate</li>
        <li id="remove">Remove</li>
        <li id="reset-resource">Reset</li>
    </ul>
</div>

<script src="/static/rotateread/js/indexin.js"></script>

{% endblock %}